#get_image_wrapper {
    padding: 35px 0;
    position: relative;
    z-index: 1002;
    display: none;
}
#get_image {
    width: 80%;
    margin: 0 auto;
    font-size: 16px;
    text-align: center;
    background: #FFF;
    padding: 0px 30px;
    padding-bottom: 30px;
    position: relative;
    label {
        display: block;
        margin-bottom: 5px;
        padding-top: 20px;
    }
    
}
#get_image .close_button {
    background: #000 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAACbgAAAm4Bt/774AAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAABKSURBVAiZdc2xDYAwAAPBA0ViiQxKR6hgCMZjCSpTEAkavnxL7yHJgRPNQ0MtXS6Y+jBjlUSSLS9bEqMfSm/O2D+pq6Bi/ZxfqDfkbiIp0Zzd1AAAAABJRU5ErkJggg==) 50% 50% no-repeat;
    box-shadow: 0 0 1px #EEE inset;
    border-radius: 2px;
}


#button,#get-edm{
    margin-top: 20px;
    border: none;
    display: inline-block;
    padding: 5px 20px;
    background: #FF9C08;
    font-size: 16px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
