
#noscript {
    text-align: center;
    display: block;
    font-size: 20px;
    padding: 5px 0;
    background: #F00;
}
#header {
    background: #000;
    padding: 5px 0;
    position: fixed;
    z-index: 1001;
    width: 100%;
    box-shadow: rgba(0,0,0,0.2) 0 0 2px 2px;
}
#logo {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: -4px;
    margin-bottom: -4px;
    display: inline-block;
    vertical-align: top;
    a:hover {
        color: #FFF;
    }
    img {
        display: block;
    }
}
#logo a:link, #logo a:visited {
    color: #FF9C08;
}
#nav{
    display: inline;
    vertical-align: middle;
    ul {
        display: inline;
        vertical-align: middle;
    }
   li {
        
        display: inline-block;
        
        text-align: center;
        color: #fff;
        position: relative;
        overflow: hidden;
        cursor: pointer;
    }
    a:link,a:visited {
        border: 1px solid #FFF;
        font-size: 10px;
        padding: 5px 10px;
        display: inline-block;
        color: #FFF;
    }
    a:hover, #nav a:active {
        border: 1px solid #FF9C08;
        color: #FF9C08;
    }
    a:active,.selected a {
        background: #FF9C08;
        color: #FFF;
        box-shadow: 0 0 1px #222 inset;
        border: 1px solid #FF9C08;
    }
    
} 
