.key {
    background: #F5F5F5;
    color: #555;
    text-shadow: 0 0 1px #EEE;
    padding: 1px 5px;
    border: 1px solid #CCC;
    border-radius: 3px;
    display: inline-block;
    min-width: 16px;
    text-align: center;
    font-size: 11px;
    box-shadow: 1px 1px 0 rgba(255,255,255,1) inset, -1px -1px 0 rgba(0,0,0,0.08) inset;
    overflow: hidden;
    cursor: default;
    vertical-align: middle;
}
.key:active {
    padding: 2px 5px 0;
    box-shadow: 1px 1px 0 rgba(0,0,0,0.08) inset, -1px -1px 0 rgba(255,255,255,1) inset;
}